.booking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f3f4f6;
}

.booking-section {
    /*display: flex;*/
    /*justify-content: center; !* Center horizontally *!*/
    /*align-items: center; !* Center vertically *!*/
    /*min-height: 100vh; !* Ensure full viewport height *!*/
}

.booking-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 500px; /* Adjust width as needed */
}

.booking-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding in width */
}

.btn-book {
    background-color: green; /* Blue */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make button full width */
}

.btn-book:hover {
    background-color:  rgb(36, 148, 36); /* Darker blue on hover */
}

/* Responsive design (example) */
@media (max-width: 768px) {

    .booking-form {
        margin: 0 10px; /* Add margin to sides */
    }
}
