.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
}

.register {
  width: 400px;
  background-color: white;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 12px;
}

.register-button:hover {
  background-color: rgb(36, 148, 36);
}

h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.register-label-container {
  margin-bottom: 6px;
}

/* Register text */
.register-in-text {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
}

.register-in-link {
  font-size: 14px;
  color: #3b82f6;
  text-decoration: none;
  text-align: center;
}

.sign-in-link:hover {
  text-decoration: underline;
}

/* Responsive design (example) */
@media (max-width: 768px) {
  .register {
    margin: 5rem 20px; /* Add margin to sides */
  }
}
