/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h2.section-title {
    text-align: center;
    color: #343a40;
}

/* Cart table styles */
.cart-table table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th,
.cart-table td {
    padding: 12px;
    border: 1px solid #dee2e6;
    text-align: left;
}

.cart-table tfoot td {
    text-align: center;
    font-size: 1.1rem;
}

.cart-table .td-center {
    text-align: center;
}

.cart-table .th-center {
    text-align: center;
}

.cart-table th {
    background-color: #343a40;
    color: #fff;
}

.cart-table td {
    background-color: #f8f9fa;
}

.cart-table tr:nth-child(even) td {
    background-color: #e9ecef;
}

/* Cart list styles */
.cart-list {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cart-item strong {
    display: block;
    font-weight: bold;
    color: #343a40;
}

/* Buttons for actions */
.edit-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.edit-btn:hover {
    background-color: rgb(36, 148, 36);
}

.remove-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #c82333;
}
